
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


body {
  padding-top: 70px;
}

img {
  max-width: 100%;
}

.gallery-image {
  margin-bottom: 1em;
}